*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar{
    width: 10px;
    background: #1f1f1e;
}
body::-webkit-scrollbar-thumb{
    background: #1b72ba;
    border-radius: 10px;
    border-right: 2px solid;
}
.header {
    background-color: #1f1f1e;
    height: 57px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
  }
  .nav {
    display: flex;
    justify-content: space-between;

    max-width: 992px;
  }
  
  .nav-link {
    color: #fefffe;
    text-decoration: none;
  }
  .nav-menu {
    display: flex;
    margin-right: 0px;
    list-style: none;
  }
  
  .nav-menu-item {
    font-size: 18px;
    margin: 0 5px;
    margin-top: 4px;
    line-height: 50px;
    text-transform: uppercase;
    width: max-content;
  }
  
  .nav-menu-link {
    padding: 6px 6px;
    border-radius: 5px;
  }
 .imagen {
    display: inline-block;
    padding: 4px 6px;
    width: 50px;
    border-radius: 3px;
  }

  
  .nav-menu-link:hover,
  .nav-menu-link_active {
    background-color: #034574;
    transition: 0.5s;
  }

  
  /* TOGGLE */
  .nav-toggle {
    color: #fefffe;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 0px;
    line-height: 60px;
    cursor: pointer;
  
    display: none;
  }
  
  /* MOBILE */
  @media (max-width: 768px) {
    body {
      padding-top: 70px;
    }
  
    .header {
      height: 70px;
    }
  
    .logo {
      font-size: 25px;
      padding: 0 20px;
      line-height: 60px;
    }
  
    .nav-menu {
      flex-direction: column;
      align-items: center;
      margin: 0;
      background-color: #1f1f1ebe;
      position: fixed;
      top: 60px;
      width: 100%;
      padding: 20px 0;
  
      height: calc(100% - 60px);
      overflow-y: auto;
  
      left: 100%;
      transition: left 0.3s;
    }
    .nav-menu-item {
        line-height: 70px;
      }
    
      .nav-menu-link:hover,
      .nav-menu-link_active {
        background: none;
        color: #ffffff;
      }
    
      .nav-toggle {
        display: block;
      }
    
      .nav-menu_visible {
        left: 0;
      }
    
      .nav-toggle:focus:not(:focus-visible) {
        outline: none;
      }
    }
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
}

.hero{
    background-image: linear-gradient(120deg, rgba(31,31,30,1) 0%, rgba(23, 22, 39, 0.692) 100%), url("../img/header.jpg");
    width: 100%;
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.textos-hero{
    height: 500px;
    color: #fefffe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textos-hero img{
    width: 5%;
    height: 10%;
}
.textos-hero h1{
    font-size: 60px;
}

.textos-hero p{
    font-size: 25px;
    margin-bottom: 20px;
}

.textos-hero a{
    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;
    background: #1b72ba;
    border-radius: 8px;
    color: #fff;
}

.svg-hero{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Estilos generales */

.contenedor,
.wave-contenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
}
.contenedor{
    padding: 80px 0;
}

.titulo{
    font-weight: 300;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.titulo.left{
    text-align: left;
}

.titulo.right{
    text-align: right;
}

/* Section */

.website{
    display: flex;
    justify-content: space-between;
}

.website img{
    width: 48%;
}

.website .contenedor-textos-main{
    width: 40%;
}

.parrafo{
    text-align: justify;
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(45deg, #1b72ba 0%, #235279 99%, #113552 100%);
    padding: 12px 15px;
    border-radius: 8px;
    color: #fefffe;
}

/* Info */

.info{
    background: #1f1f1e;
    color: #fefffe;
}


/* Cards */

.content-cards{
    display: flex;
    width: 100%;
    justify-content:center;
}

.card{
    width: 30%;
    margin: 5px;
    text-align: center;
    height: 530px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
}

.card:hover{
    box-shadow: 0 0 20px 0 rgba(54, 62, 138, 1);
    transform: scale(1.03);
    cursor: pointer;
}

.card i{
    margin: 30px 0 20px 0;
    color: #1b72ba;
    font-size: 50px;
}

.card p{
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 10px;
    padding: 5px;
}
.card a{
    position: absolute;
    right: 30%;
    bottom: 5px;
}
@media (max-width:568px){
    .content-cards{
        display: block;
        width: 100%;
        justify-content:center;
}
    .card a{
        position:static;
        bottom: 5px;
}
}
/* galeria */
.galeria{
    background: #ffffff;
    margin: 0px;
}

.container{
    position: relative;
    min-height: 100vh;
    background: #ddd;
    background-color: #ddd;
    margin: 0px;
}
.container p{
    margin: 0px;
    background: #fff;
    color: #ddd;
}
.container h2{
    margin: 0px;
    background: #ffffff;
}
.container .image-container{
    margin: 0px;
    background: #ffffff;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
    border: 5px rgb(0, 0, 0);
    margin: 0;
}
.container .image-container .images{
    margin: 0px;
    height: 250px;
    width: 350px;
    overflow: hidden;
    cursor: pointer;
}
.container .image-container .images img{
    margin: 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}
.container .image-container .images:hover img{
    transform:scale(1.1) ;
}
.container .popup-image{
    position: fixed;
    top: 0; left: 0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 103;
    display: none;
}
.container .popup-image img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    height: 80%;
    border-radius: 5px ;
    width: 80%;
    object-fit: cover;

}
@media (max-width:768px){
    .container .popup-image img{
        width: 90%;
    }
}

/* footer */

footer{
    background: #1f1f1e;
    color: #fff;
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input{
    background: transparent;
    border: 0;
    color: #fff;
    outline: none;
    border: 1px  solid #fff;
    padding: 20px 10px;
}

.input::placeholder{
    color: #fff;
    font-family: 'raleway', 'sans-serif';
}

input[type="text"], 
input[type="email"]{
    display: inline-block;
    width: 49%;
    margin-bottom: 30px;
}

.form textarea{
    width: 100%;
    margin-bottom: 15px;
}

input[type="submit"]{
    width: 120px;
    text-align: center;
    padding: 14px 0;
}

input[type="submit"]:hover{
    cursor: pointer;
    color: tomato;
    background: #fff;
}

@media screen and (max-width:800px){
    .textos-hero h1{
        text-align: center;
        font-size: 50px;
    }
    /* estilos generales */
    .titulo{
        font-size: 35px;
    }

    .titulo.left{
        text-align: center;
    }

    .info p{
        text-align: center;
    }

    /* section */
    .website{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .website img{
        width: 100%;
    }

    .website .contenedor-textos-main{
        width: 100%;
    }

    /* Cards */

    .card{
        width: 90%;
        margin-bottom: 20px;
    }

    /* galeria */

    .galeria-cont>img{
        width: 48%;
    }

    /* last */

    .last-section img{
        width: 98%;
    }

    .last-section .contenedor-textos-main{
        width: 98%;
        margin-bottom: 20px;
    }


}

@media screen and (max-width:400px){
    .titulo,
    .textos-hero h1{
        font-size: 30px;
    }

    .textos-hero p{
        font-size: 20px;
        text-align: center;
    }

    .website .contenedor-textos-main{
        margin-bottom: 30px;
    }

    .galeria-cont>img{
        width: 97%;
    }
}
.whatsapp{
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 102;
}
.whatsapp img{
    z-index: 102;
    width: 60px;
    height: 60px;
}
.Copyright{
    font-size: 15px;
}